---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";

interface Props {
  name: string;
  url: string;
  color: string;
  icon: ImageMetadata;
  smallerIcon?: boolean;
}

const { name, url, color, icon, smallerIcon = false } = Astro.props;
---

<a href={url} target="_blank">
  <div
    style={{ backgroundColor: color }}
    class="flex items-center justify-center w-12 h-12 sm:w-14 sm:h-14 rounded-full"
  >
    <Image
      src={icon}
      alt={name}
      class="object-contain"
      class:list={{ "w-7 h-7": smallerIcon, "w-8 h-8": !smallerIcon }}
      loading="eager"
    />
  </div>
</a>
