---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";

interface Props {
  name: string;
  url: string;
  color: string;
  icon: ImageMetadata;
  smallerIcon?: boolean;
}

const { name, url, color, icon, smallerIcon = false } = Astro.props;
---

<a href={url} target="_blank">
  <div
    style={{ backgroundColor: color }}
    class="flex h-12 w-12 items-center justify-center rounded-full sm:h-14 sm:w-14"
  >
    <Image
      src={icon}
      alt={name}
      class="object-contain"
      class:list={{ "h-7 w-7": smallerIcon, "h-8 w-8": !smallerIcon }}
      loading="eager"
    />
  </div>
</a>
