---
import type { CollectionEntry } from "astro:content";
import CustomEmbed from "./markdown/embed/CustomEmbed.astro";

interface Props {
  article: CollectionEntry<"article">;
}

const { article } = Astro.props;
if (!article.id.endsWith(".mdx")) {
  // It looks like custom components is only supported for MDX files.
  // https://docs.astro.build/en/guides/integrations-guide/mdx/#custom-components-with-imported-mdx
  throw new Error(`Article ${article.id} is not an MDX file.`);
}

const { Content } = await article.render();
---

<div class="prose prose-blue dark:prose-invert md-root">
  <Content components={{ "custom-embed": CustomEmbed }} />
</div>

<style>
  .md-root :global(h1, h2, h3, h4, h5, h6) {
    position: relative;
    isolation: isolate;

    & > :global(a:first-child) {
      position: absolute;
      top: 0;
      right: 100%;
      padding-right: 0.25em;
      opacity: 0;
      transition: opacity 0.2s;
    }

    &:hover > :global(a:first-child) {
      opacity: 1;
    }
  }
</style>
