---
import type { CollectionEntry } from "astro:content";
import { isSameDay } from "date-fns";
import { FaPencilRuler, FaRegEdit, FaSync } from "react-icons/fa";
import TagList from "./TagList.astro";
import Timestamp from "../../../../components/Timestamp.astro";

interface Props {
  article: CollectionEntry<"article">;
}

const {
  article: {
    data: { title, isPublished, publishedAt, modifiedAt, tags },
  },
} = Astro.props;
---

<div class="flex flex-col gap-y-5">
  <h1 class="text-center text-4xl font-extrabold tracking-wide">
    {title}
  </h1>
  <TagList tags={tags} />
  <div class="flex justify-center items-center gap-x-4">
    {
      !isPublished && (
        <div class="flex justify-center items-center gap-x-2 text-red-500">
          <FaPencilRuler role="presentation" />
          <span>下書き</span>
        </div>
      )
    }
    <div class="flex justify-center items-center gap-x-2">
      <FaRegEdit role="img" aria-label="公開日" />
      <Timestamp value={publishedAt} dateOnly />
    </div>
    {
      !isSameDay(publishedAt, modifiedAt) && (
        <div class="flex justify-center items-center gap-x-2">
          <FaSync role="img" aria-label="最終更新日" />
          <Timestamp value={modifiedAt} dateOnly />
        </div>
      )
    }
  </div>
</div>
