---
interface Props {
  tags: string[];
}

const { tags } = Astro.props;
---

<ul class="flex flex-wrap items-center justify-center gap-x-2">
  {
    tags.map((tag) => (
      <li class="rounded-md border border-slate-300 px-1.5 dark:border-slate-700">
        {tag}
      </li>
    ))
  }
</ul>
