---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import { SITE_NAME } from "../constant";
---

<Layout>
  <Fragment slot="head">
    <title>404 Not Found | {SITE_NAME}</title>
    <meta name="robots" content="noindex" />
  </Fragment>
  <div class="flex justify-center w-screen md:px-16">
    <Card
      as="div"
      class="flex flex-col items-center gap-10 p-6 max-w-screen-sm"
      rounded
    >
      <h1 class="font-quicksand font-semibold text-4xl sm:text-5xl">
        404 Not Found
      </h1>
      <p>アクセスしていただいたページは見つかりませんでした。</p>
      {/* Source: https://icooon-mono.com/13188 */}
      <svg
        role="img"
        aria-label="猫のイラスト"
        viewBox="0 0 512 512"
        class="w-24 h-24"
      >
        <path
          d="M498.579 84.957c-4.339-7.55-8.622-12.96-11.207-15.96-.479-5.224-1.606-15.969-3.785-27.046-1.55-7.699-3.507-15.47-6.498-22.145-1.532-3.332-3.286-6.462-5.982-9.267-1.329-1.394-2.954-2.714-4.966-3.738-2.011-1.016-4.449-1.671-6.923-1.662-3.748.008-7.034 1.062-9.932 2.437-5.077 2.455-9.341 6.018-13.348 9.914-7.994 7.901-14.806 17.446-18.498 22.948h-65.816c-2.4-3.572-6.092-8.815-10.56-14.224-3.913-4.718-8.344-9.526-13.274-13.487-2.474-1.975-5.095-3.757-7.994-5.15-2.917-1.375-6.185-2.428-9.933-2.437-2.492-.01-4.928.646-6.923 1.662-3.802 1.957-6.148 4.763-8.031 7.597-3.231 5.021-5.243 10.791-6.96 16.976-3.895 14.289-5.631 30.775-6.24 37.624-2.603 3-6.886 8.4-11.225 15.951-6.646 11.585-13.402 28.274-13.421 48.499 0 10.098 1.716 21.037 5.908 32.409.812 2.243 1.772 4.329 2.714 6.425-7.569 8.428-17.243 16.596-29.224 25.533-14.252 10.652-31.514 22.403-51.287 37.301l-.055.038c-18.24 13.569-38.64 29.944-60.813 50.603-33.286 31.049-48.019 74.222-48.038 114.1 0 4.366.388 8.63.739 12.904-2.308-5.474-4.209-12.203-5.262-20.65a84.136 84.136 0 0 1-.646-10.588c-.13-26.207 11.742-55.062 24.756-83.206 6.462-14.087 13.108-27.997 18.296-41.714 5.151-13.717 9.009-27.305 9.064-41.224.056-11.622-3.046-23.687-10.522-33.988-6.13-8.548-13.736-15.102-22.081-19.404a57.393 57.393 0 0 0-26.308-6.369c-16.375.018-32.197 6.822-44.086 18.665C8.312 186.109.447 203.241.004 223.161c-.184 7.827 6.018 14.326 13.846 14.52 7.828.185 14.327-6.009 14.511-13.836.332-12.97 5.132-22.68 11.889-29.484 6.794-6.784 15.656-10.394 24.055-10.384 4.598.009 9.047 1.034 13.293 3.212 4.246 2.206 8.344 5.576 12.056 10.746 3.655 5.168 5.132 10.366 5.205 17.446.038 8.344-2.621 19.079-7.237 31.199-6.849 18.232-17.815 39.351-27.305 62.004-9.414 22.68-17.538 47.114-17.575 72.942 0 4.67.277 9.378.868 14.105 1.606 12.84 4.837 23.844 9.507 33.139 6.961 13.956 17.336 23.843 28.56 29.677a67.07 67.07 0 0 0 8.677 3.766c.812 1.598 1.422 3.324 2.289 4.865 10.763 19.071 27.194 33.951 48.37 39.48l1.182.306h297.398l1.422-7.764c.056-.387.997-5.557.997-12.905-.056-8.575-1.126-20.28-7.55-31.024-3.213-5.326-7.939-10.33-14.289-13.809-3.785-2.077-8.142-3.517-12.886-4.403 1.864-19.718 6.702-67.958 13.606-114.702 3.49-23.603 7.496-46.828 11.852-65.603 2.179-9.388 4.449-17.659 6.72-24.194 1.292-3.812 2.64-6.951 3.84-9.378 6.481-2.003 12.979-4.523 19.292-7.8 18.093-9.342 34.616-25.117 43.496-49.422 4.191-11.372 5.908-22.311 5.908-32.409-.019-20.229-6.777-36.909-13.422-48.494zm-10.228 74.364c-7.329 19.717-19.718 31.412-34.487 39.185-14.77 7.717-31.994 10.984-47.336 12.23l1.551 18.85c4.153-.35 8.492-.821 12.923-1.486-.166.498-.333.95-.499 1.467-5.04 15.656-9.489 36.656-13.477 59.641-.498 2.806-.959 5.668-1.422 8.529-21.895 21.407-32.16 52.727-11.058 80.16-4.412 37.672-6.942 66.628-6.942 66.702l-.886 10.274h10.301c6.444.008 10.819 1.292 14.031 3.055 4.745 2.631 7.57 6.628 9.526 11.871 1.902 5.197 2.548 11.372 2.53 16.393 0 .637-.037 1.164-.056 1.764h-45.858c.332-1.976.554-3.942.554-5.844 0-6.526-1.809-12.387-4.32-17.243-3.784-7.293-9.064-12.536-13.329-16.117a74.953 74.953 0 0 0-2.954-2.308l2.898-63.988-18.886-.849v-.01l-3.415 75.167 5.095 2.834c.148.064 4.653 2.723 8.695 6.969 2.031 2.123 3.914 4.606 5.225 7.227 1.31 2.64 2.067 5.346 2.086 8.317-.019 1.754-.351 3.702-1.052 5.844H246.208c56.566-90.859 3.138-200.364-45.398-240.897 17.594-13.088 33.305-23.908 46.967-34.098 10.504-7.856 19.809-15.434 27.877-23.621 9.009 12.027 20.308 20.741 32.271 26.676l8.455-16.91c-6.406-3.25-12.35-7.274-17.686-12.268 69.767-6.222 84.167-79.689 84.924-127.496h44.216l2.77-4.494.203-.314c1.07-1.717 6.516-10.172 13.052-17.806 3.25-3.804 6.794-7.395 9.859-9.721 1.513-1.172 2.898-2.012 3.914-2.464.184-.093.276-.101.442-.166.978 1.404 2.622 4.625 3.858 8.751 2.456 7.68 4.265 18.009 5.336 26.215.554 4.118.942 7.726 1.182 10.283.111 1.284.203 2.299.258 2.991l.074 1.016.259 3.526 2.493 2.492c.295.304 5.852 6.083 11.169 15.628 5.335 9.554 10.413 22.754 10.394 38.17-.002 7.983-1.331 16.595-4.746 25.873z"
          fill="currentColor"></path>
      </svg>
    </Card>
  </div>
</Layout>
