---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import ArticleCard from "./_index/ArticleCard.astro";

const articleList = await getCollection(
  "article",
  ({ data }) => data.isPublished,
);
---

<Layout>
  <!-- <HomeHead /> -->
  <div class="flex justify-center w-screen md:px-16">
    <ul
      class="grid grid-cols-[repeat(auto-fit,min(400px,100%))] justify-center gap-10 w-full"
    >
      {articleList.map((article) => <ArticleCard {article} />)}
      <!-- <SilhouetteCard /> -->
    </ul>
  </div>
</Layout>
