---
import type { CollectionEntry } from "astro:content";
import { FaRegEdit } from "react-icons/fa";
import Thumbnail from "./Thumbnail.astro";
import Card from "../../components/Card.astro";
import Timestamp from "../../components/Timestamp.astro";
import {
  vtArticleCard,
  vtArticleCardInner,
  vtArticleCardTitle,
} from "../../view-transition";

interface Props {
  article: CollectionEntry<"article">;
}

const {
  article: {
    id,
    data: { title, publishedAt, thumbnail },
  },
} = Astro.props;
---

<Card
  as="li"
  class="view-transition flex overflow-hidden"
  rounded
  hoverTransition
  {...vtArticleCard(id)}
>
  <a
    href={`/article/${id}`}
    class="view-transition flex grow flex-col overflow-hidden rounded-2xl"
    {...vtArticleCardInner(id)}
  >
    <div class="border-b border-slate-200 dark:border-slate-800">
      <Thumbnail {thumbnail} />
    </div>
    <div class="flex grow flex-col gap-1 p-4">
      <div class="flex grow items-center justify-center">
        <span
          class="view-transition text-xl font-bold"
          {...vtArticleCardTitle(id)}>{title}</span
        >
      </div>
      <div class="flex items-center justify-center gap-2">
        <FaRegEdit />
        <Timestamp value={publishedAt} dateOnly />
      </div>
    </div>
  </a>
</Card>
