---
import type { CollectionEntry } from "astro:content";
import { FaRegEdit } from "react-icons/fa";
import Thumbnail from "./Thumbnail.astro";
import Card from "../../components/Card.astro";
import Timestamp from "../../components/Timestamp.astro";

interface Props {
  article: CollectionEntry<"article">;
}

const {
  article: {
    id,
    data: { title, publishedAt, thumbnail },
  },
} = Astro.props;
---

<Card as="li" class="flex overflow-hidden" rounded hoverTransition>
  <a href={`/article/${id}`} class="flex grow flex-col">
    <div class="border-b border-slate-200 dark:border-slate-800">
      <Thumbnail {thumbnail} />
    </div>
    <div class="flex grow flex-col gap-1 p-4">
      <div class="flex grow items-center justify-center">
        <span class="text-xl font-bold">{title}</span>
      </div>
      <div class="flex items-center justify-center gap-2">
        <FaRegEdit />
        <Timestamp value={publishedAt} dateOnly />
      </div>
    </div>
  </a>
</Card>
