---
import type { CollectionEntry } from "astro:content";
import { Image } from "astro:assets";
import FluentEmojiImage from "./FluentEmojiImage.astro";

interface Props {
  thumbnail: CollectionEntry<"article">["data"]["thumbnail"];
}

const { thumbnail } = Astro.props;
---

{
  typeof thumbnail === "string" ? (
    <div class="aspect-ogp flex items-center justify-center">
      <FluentEmojiImage emoji={thumbnail} class="w-32" />
    </div>
  ) : (
    <Image
      src={thumbnail}
      alt=""
      width={400}
      height={400 * (630 / 1200)}
      densities={[1, 2, 3]}
      class="aspect-ogp object-cover"
    />
  )
}
