---
import { EmbeddedTweet } from "react-tweet";
import type { EmbedTweetData } from "./createEmbedTweetData";

interface Props {
  data: EmbedTweetData;
}

const { data } = Astro.props;
---

<div
  class="not-prose flex w-full justify-center overflow-x-auto tracking-normal"
>
  <EmbeddedTweet client:visible tweet={data.tweet} />
</div>
