---
import type { CollectionEntry } from "astro:content";

interface Props {
  article: CollectionEntry<"article">;
}

const { article } = Astro.props;
const { Content } = await article.render();
---

<div class="prose prose-blue">
  <Content />
</div>
