---
import "@fontsource-variable/quicksand";

import Background from "./components/Background.astro";
import Header from "./components/Header.astro";
import Footer from "./components/Footer.astro";

if (Astro.site === undefined) {
  throw new Error(
    "Site URL is unset. Please set the site URL in the Astro config.",
  );
}
const canonicalUrl = new URL(Astro.url.pathname, Astro.site).toString();
---

<!doctype html>
<html lang="ja" class="scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta property="og:url" content={canonicalUrl} />
    <meta property="og:locale" content="ja_JP" />
    <meta property="og:site_name" content="blog.ciffelia.com" />
    <meta name="twitter:site" content="@ciffelia" />
    <meta name="twitter:creator" content="@ciffelia" />
    <meta name="Hatena::Bookmark" content="nocomment" />
    <link rel="canonical" href={canonicalUrl} />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <slot name="head" />
  </head>
  <body>
    <Background />
    <div class="min-h-screen flex flex-col font-serif">
      <Header />
      <slot />
      <div class="mt-auto">
        <Footer />
      </div>
    </div>
  </body>
</html>

<style is:global>
  @import "tailwindcss";

  @config '../../tailwind.config.mjs';

  /*
    The default border color has changed to `currentColor` in Tailwind CSS v4,
    so we've added these compatibility styles to make sure everything still
    looks the same as it did with Tailwind CSS v3.

    If we ever want to remove these styles, we need to add an explicit border
    color utility to any element that depends on these defaults.
  */
  @layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
      border-color: var(--color-gray-200, currentColor);
    }
  }

  @view-transition {
    navigation: auto;
  }

  :root {
    color-scheme: light dark;
  }

  @media (prefers-color-scheme: dark) {
    .astro-code,
    .astro-code-themes span {
      color: var(--shiki-dark) !important;
      background-color: var(--shiki-dark-bg) !important;
      font-style: var(--shiki-dark-font-style) !important;
      font-weight: var(--shiki-dark-font-weight) !important;
      text-decoration: var(--shiki-dark-text-decoration) !important;
    }
  }
</style>
