name: CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16
          check-latest: true
          cache: yarn
      - run: yarn install --immutable
      - run: yarn run build

  lint:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16
          check-latest: true
          cache: yarn
      - run: yarn install --immutable
      - run: yarn run lint

  typecheck:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16
          check-latest: true
          cache: yarn
      - run: yarn install --immutable
      - run: yarn run typecheck
